<a href="https://colab.research.google.com/github/Varaprasad34DA/GML_EX1/blob/main/GML_EX1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 1)A.Income of employee: Let’s assume A works as an hourly paid employee, and he is paid 250/per hour. If he worked for 56 hours then he will get the overtime pay as 100 for the extra hours he worked. Calculate the monthly and annual income of the employee.

In [11]:
hour_rate = 250
hours_worked = 56
overtime_rate = 100
regular_hours = int(input("enter no:"))

if hours_worked > 40:
    overtime_hours = hours_worked - 40
    overtime_pay = overtime_hours * (hour_rate + overtime_rate)
else:
   print("No overtime")

regular_pay = regular_hours * hour_rate
weekly_pay = regular_pay + overtime_pay
monthly_pay = weekly_pay * 4
yearly_pay = monthly_pay * 12

print("Weekly Pay:", weekly_pay)
print("Monthly Pay:", monthly_pay)
print("Yearly Pay:", yearly_pay)

enter no:40
Weekly Pay: 15600
Monthly Pay: 62400
Yearly Pay: 748800

1)B.Electricity Bill: Calculate the electricity bill for household according to the given condition. Commercial = Double times of Household costs.
Household:
0 to 100 Units = Rs 0.50/unit
101 to 200 Units = Rs 0.75/unit
201 to 300 Units = Rs 1.20/unit
Above 300 Units = Rs 1.50/unit1

In [5]:
units = int(input("Enter the units:"))

if units <= 100:
    bill = units * 0.50
elif units <= 200:
    bill = (100 * 0.50) + (units - 100) * 0.75
elif units <= 300:
    bill = (100 * 0.50) + (100 * 0.75) + (units - 200) * 1.20
else:
    bill = (100 * 0.50) + (100 * 0.75) + (100 * 1.20) + (units - 300) * 1.50

commercial_bill = bill * 2

print("Household Bill: ₹", bill)
print("Commercial Bill: ₹", commercial_bill)

Enter the units:370
Household Bill: ₹ 350.0
Commercial Bill: ₹ 700.0

2)A.Data Science Quiz: Conduct a Quiz program for 10 marks, each correct answers should carry 2 marks, each wrong answers should carry -1 marks. Calculate the total scores of the user.

In [7]:
class Quiz:
    def __init__(self, student_name, student_class):
        self.student_name = student_name
        self.student_class = student_class
        self.questions = {
             "Who is known as the Father of the Nation in India?": "mahatma gandhi",
             "which year did India gain independence?": "1947",
             "What is the largest mammal in the world?": "blue whale",
             "How many players are there in a cricket team?": "11",
             "Which is the tallest mountain in the world?": "mount everest"
        }
        self.score = 0

    def ask_question(self, question, answer):
        user_input = input(f"{question}\nYour answer: ").strip().lower()
        if user_input == answer:
            print(" Correct\n")
            self.score += 2
        else:
            print(f" Wrong! Correct answer is: {answer}\n")
            self.score -= 1

class DataScienceQuiz(Quiz):
    def __init__(self, student_name, student_class):
        super().__init__(student_name, student_class)

    def start_quiz(self):
        print("\n Welcome to the Data Science Quiz!\n")
        print(f"Student Name : {self.student_name}")
        print(f"Class : {self.student_class}\n")

        for question, answer in self.questions.items():
            self.ask_question(question, answer)

        print(f" {self.student_name}, your final score is: {self.score}/10")

if __name__ == "__main__":
    name = input("Enter your name: ").strip()
    cls = input("Enter your class: ").strip()

    quiz = DataScienceQuiz(name, cls)
    quiz.start_quiz()

Enter your name: varaprasad
Enter your class: data analytics

 Welcome to the Data Science Quiz!

Student Name : varaprasad
Class : data analytics

Who is known as the Father of the Nation in India?
Your answer: mahatma gandhi
 Correct!

which year did India gain independence?
Your answer: 1947
 Correct!

What is the largest mammal in the world?
Your answer: elephant
 Wrong! Correct answer is: blue whale

How many players are there in a cricket team?
Your answer: 11
 Correct!

Which is the tallest mountain in the world?
Your answer: mount everest
 Correct!

 varaprasad, your final score is: 7/10

2)B.Calculate the Gross Salary and Net Salary of an employee for following allowance & deduction Using Inheritance.
Get Basic Salary of Employee,
DA = 20% of Basic, HRA = 10% of Basic, PF = 12% of Basic, TA = 7.50% of Basic.
EMI = 2% of Basic

In [12]:
class Employee:
    def __init__(self, name, basic_salary):
        self.name = name
        self.basic_salary = basic_salary

class Salary(Employee):
    def __init__(self, name, basic_salary):
        super().__init__(name, basic_salary)
        self.da = 0.20 * self.basic_salary
        self.hra = 0.10 * self.basic_salary
        self.ta = 0.075 * self.basic_salary
        self.pf = 0.12 * self.basic_salary
        self.emi = 0.02 * self.basic_salary

    def calculate(self):
        gross_salary = self.basic_salary + self.da + self.hra + self.ta
        total_deductions = self.pf + self.emi
        net_salary = gross_salary - total_deductions

        print(f"DA (20%) : {self.da}")
        print(f"HRA (10%) : {self.hra}")
        print(f"TA (7.5%) : {self.ta}")
        print(f"PF (12%)  : {self.pf}")
        print(f"EMI (2%)  : {self.emi}")
        print(f"Gross Salary : {gross_salary}")
        print(f"Total Deductions : {total_deductions}")
        print(f"Net Salary  : {net_salary}")

if __name__ == "__main__":
    name = input("Enter Employee name: ")
    basic_salary = float(input("Enter basic salary for employee: ₹"))

    emp_salary = Salary(name, basic_salary)
    emp_salary.calculate()

Enter Employee name: varaprasad
Enter basic salary for employee: ₹73000
DA (20%) : 14600.0
HRA (10%) : 7300.0
TA (7.5%) : 5475.0
PF (12%)  : 8760.0
EMI (2%)  : 1460.0
Gross Salary : 100375.0
Total Deductions : 10220.0
Net Salary  : 90155.0